@import "tailwindcss";

@theme {
  --color-theme: #e2b64d;
}

@font-face {
  font-family: "Argon";
  src: url("/MonaspaceArgon-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: "Argon", serif;

  font-optical-sizing: auto;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
